<h1>{{title}}</h1>



<app-user-profile [name]="user" role="{{role}}" (logout)="onLogout($event)"></app-user-profile>

<h2>Counter Sample</h2>
Valor Uno:<app-counter [(value)]="valor1" (valueChange)="valorCambio1($event)"></app-counter>
Valor Dos:<app-counter [(value)]="valor2" (valueChange)="valorCambio2($event)"></app-counter>
<span>La Suma es: {{suma}}=== {{valor1+valor2}}</span>

<h2>Lista de Ciudades-Temperatura</h2>
<app-list-city></app-list-city>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>