<h1 appResalta>{{title}}</h1>



<app-user-profile [name]="user" role="{{role}}" (logout)="onLogout($event)"></app-user-profile>

<h2>Counter Sample</h2>
Valor Uno:<app-counter [(value)]="valor1" (valueChange)="valorCambio1($event)"></app-counter>
Valor Dos:<app-counter [(value)]="valor2" (valueChange)="valorCambio2($event)"></app-counter>
<span>La Suma es: {{suma}}=== {{valor1+valor2}}</span>

<h2>Lista de Ciudades-Temperatura</h2>
<app-list-city></app-list-city>

<h2>Pipes y monedas</h2>
<ul>
    <li>
        {{m1 | currency:'EUR'}}
    </li>
    <li>
        {{m2 | currency }}
    </li>
    <li>
        {{m3 | currency:'USD'}}
    </li>
    <li>
        {{3.14 |currency:'USD'}}
    </li>
</ul>
<h2>Directivas</h2>
<!--<p [appUnless]="1===3">Se evaluo falso la condicion</p>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>